* {
	padding: 10px;
	border: 2px solid red;
	margin: 10px;

}

body {
	font-family: 'Fira Sans Condensed', sans-serif;
}

.titulo {
	font-size: 70px;
	font-family: 'Caveat', cursive;
}

.title-a {
	font-size: 24px;
}

.title-b {
	font-size: 50px;
}

.sistemasnft {
	color: hsla(360, 0%, 28%, 1);
}

.sistemasnft h2 {
	font-size: 35px;
}

.portada {
	background-image: url(../images/wallhaven-498611.jpg);
	color: white;
}

.menu {
	font-size: 24px;
	display: inline-block;
}

.menu li {
	display: inline-block;
}

.logotipo {
	display: inline-block;
}