/** {
	padding: 10px;
	border: 2px solid red;
	margin: 10px;
}
*/

body {
	font-family: 'Fira Sans Condensed', sans-serif;
	margin: 0;
}

.titulo {
	font-size: 70px;
	font-family: 'Caveat', cursive;
	margin-bottom: 0;
	margin-top: 70px;
}

.title-a {
	font-size: 24px;
	margin-top: 0;
}

.title-b {
	font-size: 50px;
	margin-top: 10px;
	margin-bottom: 20px;
	margin-left: 20px;
}

.sistemasnft {
	color: hsla(360, 0%, 28%, 1);
}

.sistemasnft h2 {
	font-size: 35px;
}

.portada {
	background-image: url(../images/wallhaven-498611.jpg);
	color: white;
	padding: 30px;
}

.portada button {
	margin-bottom: 70px;
}

.menu {
	font-size: 24px;
	display: inline-block;
}

.menu li {
	display: inline-block;
	margin-left: 30px;
}

.logotipo {
	display: inline-block;
}

.contenedor {
	width: 800px;
	margin: auto;
}

.sistema {
	padding: 10px;
	margin: 10px;
	overflow: hidden;
	border: 1px solid hsla(360, 0%, 28%, 1);
	border-radius: 8px;
}

.sistema ol {
	padding: 0;
}

.derecha {
	float: right;
}

.izquierda {
	float: left;
}

.contenedor-sistema-a {
	padding-left: 20px;
}

.contenedor-sistema-b {
	margin-left: 370px;
	padding-left: 20px;
}

button {
	border-radius: 5px;
	border: none;
	background: #fd324e;
	color: white;
	height: 30px;
}

.footer {
	background: hsla(360, 0%, 28%, 1);
}

.contacto img {
	display: block;
}

.contacto strong {
	display: block;
}

.contacto a {
	color: white;
	text-decoration: none;
}